@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;500;700");
@import url("components/cards.css");

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.container {
  width: 900px;
  margin: 0 auto;
}
