.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 40px;
}
